<ng-container *ngTemplateOutlet="editDeckSection"></ng-container>

<ng-template #editDeckSection>
  <p>
    <mat-form-field>
      <mat-label>Select deck</mat-label>
      <mat-select [(ngModel)]="selectedDeck">
        <mat-option *ngFor="let deck of decks" [value]="deck">{{deck.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- add edit button and pass current deck-->
    <button mat-icon-button (click)="addDeckOpenModal(true)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="addDeckOpenModal(false)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteDeck()">
      <mat-icon>close</mat-icon>
    </button>
  </p>
  <div *ngIf="selectedDeck"> <!-- TODO fix interface for new card -->
    <div>
      <div *ngFor="let card of selectedDeck!.cards; let i = index">
        <mat-form-field appearance="outline">
          <mat-label>Original</mat-label>
          <input matInput placeholder="Placeholder" [value]="selectedDeck.cards[i].originalSentence"
            [(ngModel)]="selectedDeck.cards[i].originalSentence">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Translation</mat-label>
          <input matInput placeholder="Placeholder" [value]="selectedDeck.cards[i].translation"
            [(ngModel)]="selectedDeck.cards[i].translation">
        </mat-form-field>
        <button mat-icon-button (click)="deleteCard(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <p>
      <button mat-icon-button (click)="addCard()">
        <mat-icon>add</mat-icon>
      </button>
    </p>
  </div>
  <button (click)="saveChanges()">
    save
  </button>
</ng-template>