<p>
  <mat-form-field>
    <mat-label>Select deck</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option> <!-- TODO config decks -->
    </mat-select>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <button mat-mini-fab aria-label="Example icon button with a home icon">
    <mat-icon>add</mat-icon>
  </button>
</p>

<!-- TODO add existing deck cards -->