<ng-container *ngTemplateOutlet="editDeckSection"></ng-container>

<ng-template #editDeckSection>
  <p>
    <mat-form-field>
      <mat-label>Select deck</mat-label>
      <mat-select [(ngModel)]="selectedDeck">
        <mat-option *ngFor="let deck of decks" [value]="deck">{{deck.name}}</mat-option> <!-- TODO config decks -->
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab aria-label="Example icon button with a home icon" (click)="addDeck()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Example icon button with a home icon" (click)="deleteDeck()">
      <mat-icon>close</mat-icon>
    </button>
  </p>
  <div *ngIf="selectedDeck">
    <div *ngFor="let card of selectedDeck!.cards; let i = index">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [value]="selectedDeck.cards[i].originalSentence"
          [(ngModel)]="selectedDeck.cards[i].originalSentence">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [value]="selectedDeck.cards[i].translation"
          [(ngModel)]="selectedDeck.cards[i].translation">
      </mat-form-field>
      <button mat-mini-fab aria-label="Example icon button with a home icon" (click)="deleteCard(i)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Original</mat-label>
      <input matInput placeholder="Placeholder" [value]="newCard.originalSentence"
        [(ngModel)]="newCard.originalSentence">
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Translation</mat-label>
      <input matInput placeholder="Placeholder" [value]="newCard.translation" [(ngModel)]="newCard.translation">
    </mat-form-field>
    <button mat-mini-fab aria-label="Example icon button with a home icon" (click)="addCard()">
      <mat-icon>add</mat-icon>
    </button>
  </p>
  <button aria-label="Example icon button with a home icon" (click)="saveChanges()">
    save
  </button>
</ng-template>

<!-- TODO add existing deck cards -->