//TODO make this as wide as the screen
.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.sidenav-content {
  height: 100%;
  align-items: left;
  justify-content: left;
}

.sidenav {
  padding: 10px;
  width: 20vh;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.menu-item {
  display: inline-flex;
  justify-content: flex-start;
  margin-right: 0px;
  width: -webkit-fill-available;
  border-radius: 0;
}

.menu-item-2 {
  margin-right: 0px;
  width: -webkit-fill-available;
  border-radius: 0;
}

.expand-sidebar-arrow {
  margin-top: 2px;
  margin-left: 2px;
}

/*
TODO align icon on right
.expand-menu-arrow {}
*/