<button mat-mini-fab aria-label="Example icon button with a home icon" (click)="openSettings()" class="settings-button">
  <mat-icon>edit</mat-icon>
</button>

<ng-container *ngTemplateOutlet="matchPairs"></ng-container>


<ng-template #matchPairs>
  <div *ngIf="!selectedDeck">Select a deck!</div>
  <div *ngIf="selectedDeck" class="main-container">
    <!-- make function for random selection in case they're more than needed-->
    <div class="original-cards">
      <div *ngFor="let card of selectedDeck.cards">
        <button mat-raised-button type="button" (click)="clickCard(card, true)"
          [ngClass]="{clicked: card.clickedOriginal, guessed: card.guessed}" [disabled]="card.guessed" class="card">
          {{card.originalSentence}}
        </button>
      </div>
    </div>
    <div class="translation-cards">
      <div *ngFor="let card of shuffledCards">
        <button mat-raised-button type="button" (click)="clickCard(card, false)"
          [ngClass]=" {clicked: card.clickedTranslation, guessed:card.guessed}" [disabled]="card.guessed" class="card">
          {{card.translation}}
        </button>
      </div>
    </div>
  </div>
</ng-template>