<br>
<button mat-mini-fab aria-label="Example icon button with a home icon" (click)="openSettings()">
  <mat-icon>edit</mat-icon>
</button>

<ng-container *ngTemplateOutlet="matchPairs"></ng-container>


<!-- TODO css...-->
<ng-template #matchPairs>
  <div *ngIf="!selectedDeck">Select a deck!</div>
  <div *ngIf="selectedDeck">
    <!-- make function for random selection in case they're more than needed-->
    <div *ngFor="let card of selectedDeck.cards">
      <button mat-button type="button" (click)="clickCard(card, true)"
        [ngClass]="{clicked: card.clickedOriginal, guessed: card.guessed}" [disabled]="card.guessed">
        {{card.originalSentence}}
      </button>
    </div>
    <br>
    <div *ngFor="let card of shuffledCards">
      <button mat-button type="button" (click)="clickCard(card, false)"
        [ngClass]=" {clicked: card.clickedTranslation, guessed:card.guessed}" [disabled]="card.guessed">
        {{card.translation}}
      </button>
    </div>
  </div>
</ng-template>