.clicked {
  background-color: red;
}

.guessed {
  background-color: greenyellow;
}

.main-container {
  display: grid;
  grid-template-columns: ". .";
  grid-template-areas: "original-cards translation-cards";
}

.card {
  min-width: 40vh;
  border-radius: 5px;
  margin-bottom: 2px;
}

.settings-button {
  float: inline-end;
}

/*
.original-cards {}

.translation-cards {}
*/