<ng-container *ngTemplateOutlet="editDeckSection"></ng-container>

<ng-template #editDeckSection>
  <p>
    <mat-form-field>
      <mat-label>Select deck</mat-label>
      <mat-select [(ngModel)]="selectedDeck">
        <mat-option *ngFor="let deck of decks" [value]="deck">{{deck.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- add edit button and pass current deck-->
    <button mat-icon-button (click)="addDeckOpenModal(true)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="addDeckOpenModal(false)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteDeck()">
      <mat-icon>close</mat-icon>
    </button>
  </p>
  <div *ngIf="selectedDeck"> <!-- TODO fix interface for new card -->
    <div class="new-card-containter">
      <div *ngFor="let card of selectedDeck!.cards; let i = index" class="new-card">
        <mat-form-field appearance="outline">
          <mat-label>Original</mat-label>
          <input matInput placeholder="Placeholder" [value]="card.name" [(ngModel)]="card.name">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngFor="let option of card.options">
          <mat-label *ngIf="!option.correct">Wrong one</mat-label>
          <mat-label *ngIf="option.correct">Right one</mat-label>
          <input matInput placeholder="{{option.correct ? 'Right one' : 'Wrong one'}}" [value]="option.name"
            [(ngModel)]="option.name">
          <button mat-icon-button (click)="deleteOption(card, option._id)" *ngIf="!option.correct"
            class="delete-option-button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-icon-button (click)="addOption(card)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCard(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <p>
      <button mat-icon-button (click)="addCard()">
        <mat-icon>add</mat-icon>
      </button>
    </p>
  </div>
  <button (click)="saveChanges()">
    save
  </button>
</ng-template>