<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Game settings</h1>
  <mat-dialog-content>
    <!--Match pair section-->
    <mat-form-field *ngIf="form.value.gameType == GameType.MATCH_PAIRS">
      <mat-label>Select deck</mat-label>
      <mat-select formControlName="selectedDeck">
        <mat-option *ngFor="let deck of matchPairsDecks" [value]="deck">{{deck.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Word type section-->
    <mat-form-field *ngIf="form.value.gameType == GameType.WORD_TYPE">
      <mat-label>Select deck</mat-label>
      <mat-select formControlName="selectedDeck">
        <mat-option *ngFor="let deck of wordTypeDecks" [value]="deck">{{deck.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Save</button>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>