<div>
  <form [formGroup]="form" (ngSubmit)="submit(form)" class="dialog-container">
    <h1 mat-dialog-title *ngIf="isNew">Add Deck</h1>
    <h1 mat-dialog-title *ngIf="!isNew">Edit Deck</h1>
    <mat-dialog-content>
      <mat-form-field appearance="outline">
        <input matInput formControlName="name" placeholder="Enter deck name">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="submit" color="primary">Save</button>
      <button mat-button type="button" color="warn" (click)="dialogRef.close()">Cancel</button>
    </mat-dialog-actions>
  </form>
  
</div>
